// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 0.9em;
}

form {
	input {
		padding: 3px;
	}
	.input-number, .output-number {
		margin: 10px 0;
	}
}