<div class="row">
    <div class="main-content" ng-controller="unitsController">
      <header>
        <h4>Units converter</h4>
      </header>
      <div class="radio-buttons"> 
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" value="weight" ng-model="state" ng-change="selectLiquidUnits()"> Mass
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" value="volumedry" ng-model="state" ng-change="selectSolidUnits()" checked="true"> Vol dry
         </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" value="volumeliquid" ng-model="state" ng-change="selectLiquidUnits()"> Vol liquid
        </label>
      </div>

      <!-- input fields -->
      <input class="form-control pull-left input-number" type="number" min="0" step="1" ng-model="inputNumber" value="1">
      <input class="form-control pull-left input-number" type="text" 
        value={{updateSecondUnit(inputNumber)}}>

      <div ng-include="getInclude()"></div>

     
      </div>
    </div> <!-- /.main-content -->
  </div> <!-- /.row --> 
</div> <!-- /.container -->