<div class="pull-left button-group first-group" data-js="from-unit">   
  <div ng-click="selectFirstUnit($event)">
    <button type="button" class="btn btn-default default-color selected">tsp</button>
    <button type="button" class="btn btn-default">Tbsp</button>
    <button type="button" class="btn btn-default">Cup</button>
    <button type="button" class="btn btn-default">Pint</button>
    <button type="button" class="btn btn-default">Ml</button>
    <button type="button" class="btn btn-default">Liter</button>
  </div>
</div>

<div class="pull-left button-group second-group" data-js="to-unit">
  <div ng-click="selectSecondUnit($event)">
    <button type="button" class="btn btn-default">tsp</button>
    <button type="button" class="btn btn-default selected default-color">Tbsp</button>
    <button type="button" class="btn btn-default">Cup</button>
    <button type="button" class="btn btn-default">Pint</button>
    <button type="button" class="btn btn-default">Ml</button>
    <button type="button" class="btn btn-default">Liter</button>
  </div>
</div>