<div class="pull-left button-group first-group" data-js="from-unit">   
  <div ng-click="selectFirstUnit($event)">
    <button type="button" class="btn btn-default default-color selected">Ounce</button>
    <button type="button" class="btn btn-default">Pound</button>
    <button type="button" class="btn btn-default">Gram</button>
    <button type="button" class="btn btn-default">Kilogram</button>
  </div>
</div>

<div class="pull-left button-group second-group" data-js="to-unit">
  <div ng-click="selectSecondUnit($event)">
    <button type="button" class="btn btn-default">Ounce</button>
    <button type="button" class="btn btn-default">Pound</button>
    <button type="button" class="btn btn-default selected default-color">Gram</button>
    <button type="button" class="btn btn-default">Kilogram</button>
  </div>
</div>